# PANDAS #

In [1]:
import pandas as pd

In [2]:
data = {
    'name': ['Mihir', 'Aryan', 'Sneha', 'Rohan'],
    'age' : [20, 18, 22, 21],
    'city': ['Mehsana', 'Surat', 'Rajkot', 'Vadodara']
}

df = pd.DataFrame(data)

In [3]:
print(df)

    name  age      city
0  Mihir   20   Mehsana
1  Aryan   18     Surat
2  Sneha   22    Rajkot
3  Rohan   21  Vadodara

In [5]:
df.to_csv("student.csv",index=False)

In [6]:
print(pd.read_csv("student.csv"))

    name  age      city
0  Mihir   20   Mehsana
1  Aryan   18     Surat
2  Sneha   22    Rajkot
3  Rohan   21  Vadodara

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   city    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [8]:
print(df.describe())

             age
count   4.000000
mean   20.250000
std     1.707825
min    18.000000
25%    19.500000
50%    20.500000
75%    21.250000
max    22.000000

In [9]:
print(df.shape)

(4, 3)

In [10]:
print(df.columns)

Index(['name', 'age', 'city'], dtype='object')

In [12]:
print(df['age'])

0    20
1    18
2    22
3    21
Name: age, dtype: int64

In [13]:
print(df[['name','city']])

    name      city
0  Mihir   Mehsana
1  Aryan     Surat
2  Sneha    Rajkot
3  Rohan  Vadodara

In [14]:
print(df[df['age'] > 20])

    name  age      city
2  Sneha   22    Rajkot
3  Rohan   21  Vadodara

In [15]:
df['age'] = df['age'] + 1

In [16]:
print(df)

    name  age      city
0  Mihir   21   Mehsana
1  Aryan   19     Surat
2  Sneha   23    Rajkot
3  Rohan   22  Vadodara

In [17]:
df['maks'] = [85, 92, 78, 88]

In [18]:
print(df)

    name  age      city  maks
0  Mihir   21   Mehsana    85
1  Aryan   19     Surat    92
2  Sneha   23    Rajkot    78
3  Rohan   22  Vadodara    88

In [19]:
df.to_csv("student.csv",index=False)

In [22]:
print(pd.read_csv("student.csv"))

    name  age      city  maks
0  Mihir   21   Mehsana    85
1  Aryan   19     Surat    92
2  Sneha   23    Rajkot    78
3  Rohan   22  Vadodara    88

In [24]:
df = df.drop(columns=['city'])

In [25]:
print(df)

    name  age  maks
0  Mihir   21    85
1  Aryan   19    92
2  Sneha   23    78
3  Rohan   22    88

In [26]:
print(df.isnull().sum())

name    0
age     0
maks    0
dtype: int64

In [27]:
df['age'].fillna(df['age'].mean(), inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_10280\1503503937.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [28]:
df.dropna(inplace=True)

In [29]:
print(df)

    name  age  maks
0  Mihir   21    85
1  Aryan   19    92
2  Sneha   23    78
3  Rohan   22    88